<template>
    <div id="app">
        <h1>Todo application !!!</h1>
        <p style="text-align: center">
        </p>
        <hr>
        <router-view />
    </div>
</template>

<style>
/* @import '../../node_modules/vuetify/dist/vuetify.min.css'; */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    padding: 0 10px;
}
</style>
