<template>
    <div>
        <h1>Example Component</h1>
        <p>
            I'm an example component.
        </p>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>