<template>
  <div id="grid">
    <router-link :to="{ name: 'home' }">Home</router-link>

    <div>
      <v-data-table
        :headers="headers"
        :search="search"
        :items="list_with_data"
        :server-items-length="amount_of_elements"
        :options.sync="options"
        :loading="loading"
        loading-text="Загружается..."
        class="elevation-1"
        hide-default-footer
        @update:sort-by="updatePage"
        @update:sort-desc="sortDesc"
      >
        <!-- @update:options="testt1"
        @update:sort-by="testt1"
        @update:sort-desc="testt2" -->
        <template v-slot:top>
          <v-text-field
            v-model="search"
            label="Поиск"
            class="mx-4"
          ></v-text-field>
        </template>
      </v-data-table>
      <!-- 
        hide-default-footer -->

      <!-- :sort-desc.sync="sortDesc" -->

      <!-- :sort-by.sync="options.sortBy"
        :sort-desc.sync="options.sortDesc"  -->

      <!-- <v-pagination v-model="options.page" :length="this.pageCount" :total-visible="7" prev-icon="<"></v-pagination> -->
      <!-- prev-icon="mdi-menu-left"
        next-icon="mdi-menu-right"
        dark -->
      <v-pagination
        v-model="options.page"
        :length="this.pageCount"
        :total-visible="7"
        prev-icon="<"
        next-icon=">"
        @input="updatePage"
      ></v-pagination>
      
        <!-- @input="updatePage" -->
      <div class="text-center pt-2"></div>
    </div>
  </div>
</template>

<script>
import { debounce } from "lodash";
import axios from "../../config/axios";
import {
  VBtn,
  VDataTable,
  VProgressLinear,
  VPagination,
  VTextField,
} from "vuetify/lib/components";

export default {
  
  watch: {
    // Коллбэк будет вызываться каждый раз, когда изменяется любое из свойств
    // наблюдаемого объекта, независимо от глубины их вложенности
    // options: {
    //   handler: "updatePage",
    //   deep: true,
    //   // immediate: true
    // },

    // "options"() {
    //   this.updatePage();
    // },

    // "options.page"() {
    //   this.updatePage();
    // },
    // "sortBy"() {
    //   console.log('sort by');
    //   this.updatePage();
    // },
    // "sortDesc"() {
    //   console.log('sort desc');
    //   this.updatePage();
    // },

  },

  components: {
    //     vuetify
    VBtn,
    VDataTable,
    VProgressLinear,
    VPagination,
    VTextField,
    debounce,
  },

  data() {
    return {
      amount_of_elements: 0,
      list_with_data: [],
      loading: true,
      search: '',
      sort_temp: '',

      // sortBy: 'mkb_code',
      // sortDesc: false,

      // Страница по умолчанию, с которой начинается отсчет
      page: 1,
      // количество страниц
      pageCount: 0,
      // элементов на странице
      itemsPerPage: 10,

      options: {},
      headers: [
        // * оставил для примера:
        // {
        //   text: "mkb code",
        //   align: "start",
        //   value: "mkb_code",
        // },
        // { text: "mkb klass", value: "mkb_klass" },
      ],
    };
  },
  mounted() {
    // this.$vuetify.theme.themes.dark.primary = "#4caf50";
    this.updatePage();
  },
  methods: {

    testt1() {
        console.log('sortDesc (testt1): ' + this.options.sortBy[0]);
        console.log('sortDesc (testt1): ' + this.options.sortDesc[0]);
    },
    testt2() {
      // if(this.options.sortDesc[0]) {
        console.log('sortDesc (testt2): ' + this.options.sortBy[0]);
        console.log('sortDesc (testt2): ' + this.options.sortDesc[0]);
      // }
    },

    sortDesc() {
      if(this.options.sortDesc[0]) {
        this.updatePage();
        // console.log('sortDesc (testt2): ' + this.options.sortDesc[0]);
        // console.log('sortDesc: ' + typeof(this.options.sortDesc));
        // console.log('sortDesc: ' + Object.keys(this.options.sortDesc));
      }
    },

    updatePage() {
      // console.log(this.options.sortBy);
      // console.log(this.options.sortDesc);

      // console.log(this.options.page + ' ' + this.options.itemsPerPage);

      // axios
      //   .post(`test-tab-mkb`, {
      //       page: 1,
      //       perpage: 1,
      //       sort: 1,
      //       desc: 1,
      //   })

      // this.sort_temp = this.options.sortBy[0] ?? `/${this.options.sortBy[0]}`;
      // this.sort_temp += this.options.sortDesc[0] ?  '_desc' : '';

       axios
        // .get(`test-tab-mkb/page-${this.options.page}/per_page-${this.itemsPerPage}${this.sort_temp}`) //
        // .get(`test-tab-mkb/page=1/per_page=1/sort=1/desc=1`)
        .get(`test-tab-mkb`, {
          params: {
            page: this.options.page,
            per_page: this.itemsPerPage,
            sort: this.options.sortBy[0],
            desc: this.options.sortDesc[0],
          }
        })
        .then((response) => {
          // console.log(this.options.sortBy[0]);
          // console.log(this.options.sortDesc[0]);
          // console.log(response);// общее количество
          this.amount_of_elements = JSON.parse(response.data.data.amount_of_elements);
          // заголовки таблицы
          this.headers = JSON.parse(response.data.data.headers);
          // записи для таблицы (строки)
          this.list_with_data = JSON.parse(response.data.data.data_list);
          // количество страниц
          this.pageCount = response.data.data.page_count;

          // this.options.sortBy[0] = response.data.data.sort_by;
          // this.options.sortDesc[0] = response.data.data.sortDesc === "desc" ? true : false;

          console.log(response.data.data.sort_by);
          console.log(response.data.data.sort_desc);
          // console.log(this.options.sortBy[0]);
          // console.log(this.options.sortDesc[0]);
        })
        .then(() => {
          this.resizable();
        })
        .catch((error) => {
          // console.log(Promise.reject(error));
          /* 
          config"
1: "request"
2: "response"​
3: "isAxiosError"
4: "toJSON"
          */
          console.log(error.response.data);
          console.log(Object.keys(error));
        })
    },
    updatePage111() {
        console.log(this.options.sortBy[0]);
        console.log(this.options.sortDesc[0]);

        this.sort_temp = this.options.sortBy[0] ?? `/${this.options.sortBy[0]}`;
        this.sort_temp += this.options.sortDesc[0] ?  '_desc' : '';

        axios
        // .get(`test-tab-mkb/page-${this.options.page}/per_page-${this.itemsPerPage}${this.sort_temp}`) //
        .get(`test-tab-mkb/page-${this.options.page}/per_page-${this.itemsPerPage}`)
        .then((response) => {
          // общее количество
          this.amount_of_elements = JSON.parse(response.data.data.amount_of_elements);
          // заголовки таблицы
          this.headers = JSON.parse(response.data.data.headers);
          // записи для таблицы (строки)
          this.list_with_data = JSON.parse(response.data.data.data_list);
          // количество страниц
          this.pageCount = response.data.data.page_count;
        })
        .then(() => {
          this.resizable();
        });
    },
    updatePage2() {
      this.$store
        // после подстановки будет: "/api/test-tab-mkb"
        .dispatch(
          "fetchDataListGrid",
          `test-tab-mkb/page-${this.options.page}/per_page-${this.itemsPerPage}`
        )
        .then((response) => {
          let dataList = this.$store.getters.getDataListGrid;

          // общее количество
          this.amount_of_elements = JSON.parse(
            dataList.data.amount_of_elements
          );
          // заголовки таблицы
          this.headers = JSON.parse(dataList.data.headers);
          // записи для таблицы (строки)
          this.list_with_data = JSON.parse(dataList.data.data_list);
          // количество страниц
          this.pageCount = dataList.data.page_count;
        })
        .then(() => {
          this.resizable();
        });
    },
    setTable() {
      Axios.post("test");
    },
    resizable() {
      // делаем столбцам возможность изменения ширины (необходимо переделать данный метод полностью, пока так..)
      var tdElm;
      var startOffset;

      Array.prototype.forEach.call(
        document.querySelectorAll("table td:not(:last-child)"),
        function (td) {
          td.style.position = "relative";

          var grip = document.createElement("div");
          grip.innerHTML = "";
          grip.style.top = grip.style.right = grip.style.bottom = 0;

          grip.style.width = "3px";
          grip.style.backgroundColor = "rgba(0, 0, 0, 0.12)";
          grip.style.position = "absolute";
          grip.style.cursor = "col-resize";
          grip.addEventListener("mousedown", function (e) {
            tdElm = td;
            startOffset = td.offsetWidth - e.pageX;
          });

          td.appendChild(grip);
        }
      );

      document.addEventListener("mousemove", function (e) {
        if (tdElm) {
          tdElm.style.width = startOffset + e.pageX + "px";
        }
      });

      document.addEventListener("mouseup", function () {
        tdElm = undefined;
      });
    },
  },
};
</script>

<style>
.v-pagination .v-pagination__item--active {
  background: orange !important;
}
</style>