<template>
  <div id="grid">
    <router-link :to="{ name: 'home' }">Home</router-link>

    <br /><br /><br />

    <div>
      <v-data-table
        :headers="headers"
        :items="list_with_data"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        class="elevation-1"
      ></v-data-table>
      <div class="text-center pt-2">
        <v-btn color="primary" class="mr-2" @click="toggleOrder">
          Toggle sort order
        </v-btn>
        <v-btn color="primary" @click="nextSort"> Sort next column </v-btn>
      </div>
    </div>

    <br /><br /><br />

    <p>{{ list_with_data }}</p>
  </div>
</template>

<script>
// import Vue from "vue";

import axios from "axios";
import {
  VBtn,
  VDataTable,
} from "../../../../node_modules/vuetify/lib/components";

// import vuetify from '../../plugins/vuetify';

// import Vuetify from "../../../../node_modules/vuetify/lib/components";

export default {
  components: {
    //     vuetify
    // Vuetify,
    VBtn,
    VDataTable,
  },

  data() {
    return {
      list_with_data: [],
      sortBy: "fat",
      sortDesc: false,
      headers: [
        // * оставил для примера:
        // {
        //   text: "mkb code",
        //   align: "start",
        //   value: "mkb_code",
        // },
        // { text: "mkb klass", value: "mkb_klass" },
      ],
    };
  },
  mounted() {
    axios
      // .get("https://jsonplaceholder.typicode.com/posts?_limit=5")
      .get("test-tab-mkb")
      .then((response) => {
        this.list_with_data = JSON.parse(response.data.data);
        this.headers = JSON.parse(response.data.keys);
        // console.log(this.headers);
        // console.log(response.data);
      })
      .finally(() => {
        // делаем столбцам возможность изменения ширины
        var tdElm;
        var startOffset;

        Array.prototype.forEach.call(
          document.querySelectorAll("table td:not(:last-child)"),
          function (td) {
            td.style.position = "relative";

            var grip = document.createElement("div");
            grip.innerHTML = "";
            grip.style.top = 0;
            grip.style.right = 0;
            grip.style.bottom = 0;
            grip.style.width = "3px";
            grip.style.backgroundColor = "rgba(0, 0, 0, 0.12)";
            grip.style.position = "absolute";
            grip.style.cursor = "col-resize";
            grip.addEventListener("mousedown", function (e) {
              tdElm = td;
              startOffset = td.offsetWidth - e.pageX;
            });

            td.appendChild(grip);
          }
        );

        document.addEventListener("mousemove", function (e) {
          if (tdElm) {
            tdElm.style.width = startOffset + e.pageX + "px";
          }
        });

        document.addEventListener("mouseup", function () {
          tdElm = undefined;
        });
      });
  },
  methods: {
    toggleOrder() {
      this.sortDesc = !this.sortDesc;
    },
    nextSort() {
      let index = this.headers.findIndex((h) => h.value === this.sortBy);
      index = (index + 1) % this.headers.length;
      this.sortBy = this.headers[index].value;
    },
  },
};
</script>